body {
    margin: auto;
  width: 640px; 
  padding: 50px;
}

@media (max-width: 576px) {
    body{
        width: 100%;
    }
    .happy-birthday{
        width: 100%;
    }
    .photos{
        display: block;
        text-align: center;
        width: 50%;
    }
    
}